{% extends "base.html" %} {% block title %}주요 서비스 소개{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='b_intro.css') }}" />
<div class="my-5">
    <h2 class="mb-4 text-center">주요 서비스 소개</h2>
    <div class="card-deck">
        <div class="card shadow-sm">
            <a href="/serv1" class="text-decoration-none">
                <img
                    class="card-img-top"
                    src="{{ url_for('static', filename='serv1.png') }}"
                    alt="취약노인지원서비스" />
                <div class="card-body">
                    <h5 class="card-title">취약노인지원서비스</h5>
                    <p class="card-text">
                        취약노인지원서비스에 대한 간략한 설명입니다. 이 서비스는 경제적, 신체적, 사회적으로 취약한
                        노인들 지원을 목표로 하며, 응급안전안심서비스, 노인 맞춤 돌봄 서비스를 제공합니다.
                    </p>
                </div>
            </a>
        </div>
        <div class="card shadow-sm">
            <a href="/serv2" class="text-decoration-none">
                <img
                    class="card-img-top"
                    src="{{ url_for('static', filename='serv2.png') }}"
                    alt="정신건강 사례 관리 서비스" />
                <div class="card-body">
                    <h5 class="card-title">정신건강 사례 관리 서비스</h5>
                    <p class="card-text">
                        정신건강 사례 관리 서비스에 대한 간략한 설명입니다. 이 사업은 노인의 정신 건강을 관리하고 상담
                        및 치료 서비스를 통해 노인들의 정신건강 증진을 도모합니다.
                    </p>
                </div>
            </a>
        </div>
        <div class="card shadow-sm">
            <a href="/serv3" class="text-decoration-none">
                <img
                    class="card-img-top"
                    src="{{ url_for('static', filename='serv3.png') }}"
                    alt="지역 보건 의료 정보 서비스" />
                <div class="card-body">
                    <h5 class="card-title">지역 보건 의료 정보 서비스</h5>
                    <p class="card-text">
                        지역 보건 의료 정보 서비스에 대한 간략한 설명입니다. 이 사업은 지역 사회 내 노인들의 건강 정보를
                        통합 관리하며, 예방 접종 관리 서비스, 정기 건강 검진 관리 서비스를 제공합니다.
                    </p>
                </div>
            </a>
        </div>
        <div class="card shadow-sm">
            <a href="/serv3" class="text-decoration-none">
                <img
                    class="card-img-top"
                    src="{{ url_for('static', filename='serv4.png') }}"
                    alt="AI스마트워치 활동 케어 서비스" />
                <div class="card-body">
                    <h5 class="card-title">AI스마트워치 활동 케어 서비스</h5>
                    <p class="card-text">
                        AI스마트워치 활동 케어 서비스에 대한 간략한 설명입니다. 이 사업은 AI 기술을 활용한 스마트워치로
                        노인의 활동량을 모니터링하고 우울증을 예방을 목표로 하며, 활동량, 심박수, 수면 패턴 등의 건강
                        데이터를 통해 개인 맞춤형 건강 관리 피드백과 알림을 제공합니다.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
