{% extends "base.html" %} {% block title %}기업 소개{% endblock %} {% block content %}
<link href="{{ url_for('static', filename='e_intro.css') }}" rel="stylesheet" />

<section id="intro" class="mb-5">
    <h2>회사 개요</h2>
    <p>
        ‘고령사회복지지원청’ 은 고령사회 국민 건강복지를 목적으로 서울특별시 광진구에 2023년 1월 25일에 설립되었습니다.
        주 사업은 AI 서비스를 사용한 병명 진단 서비스, 예방 접종 사전 SMS 알림서비스를 통해 국민들의 건강을 관리하는
        서비스들입니다. 그 밖에도 독거노인들을 위한 전화친구 서비스를 통해 정서적 지지를 제공하고있습니다. 마지막으로
        Cloud 기술을 활용하여 안전하게 국민들의 개인정보를 관리하고, 사용자들이 빠르고 효율적으로 접근할 수 있도록
        합니다.
    </p>
</section>

<section id="mission" class="mb-5">
    <h2>미션과 비전</h2>
    <p>
        우리는 [고령자들이 건강하고 행복한 삶을 누리며 세대 간 존중과 공감 속에서 함께하는 포용적 사회를 조성]을 목표로
        하고 있습니다.<br />
        우리는 [모든 고령자가 건강한 삶을 유지하고, 지속 가능한 복지 시스템과 세대 간 화합을 통해 활기찬 지역사회
        구축]을 목표로 하고 있습니다.
    </p>
</section>

<section id="values" class="mb-5">
    <h2>핵심 가치</h2>
    <ul class="list-unstyled">
        <li><strong>존엄:</strong> 모든 고령자의 존엄성을 존중하며, 그들의 삶과 경험을 소중히 여깁니다.</li>
        <li>
            <strong>혁신:</strong> 혁신적인 복지 시스템을 통해 고령자들에게 지속 가능하고 효율적인 지원을 제공합니다.
        </li>
        <li>
            <strong>화합:</strong> 세대 간의 이해와 협력을 증진시켜, 모든 세대가 함께 어우러져 살아가는 조화로운 사회를
            만듭니다.
        </li>
    </ul>
</section>

<section id="history" class="mb-5">
    <h2>연혁</h2>
    <p>우리 회사의 주요 역사와 성과를 확인해보세요:</p>
    <ul class="list-unstyled">
        <li><strong>2023.01 : </strong> 회사 설립</li>
        <li><strong>2023.04 : </strong> 취약노인지원서비스, 정신건강 사례 관리 서비스 출시</li>
        <li><strong>2023.10 : </strong> 지역 보건 의료 정보 서비스 출시</li>
        <li><strong>2024.07 : </strong> AI 스마트워치 활동 케어 서비스 출시</li>
    </ul>
</section>

<section id="team" class="mb-5">
    <h2>조직도</h2>
    <p>
        우리 회사는 다양한 배경과 경험을 가진 전문가들로 구성되어 있습니다. 각 팀원들은 회사의 성공에 기여하고 있습니다.
    </p>
    <img src="{{ url_for('static', filename='기업조직도.png') }}" alt="기업 조직도" class="img-fluid mt-3" />
</section>

<section id="contact" class="mb-5">
    <h2>연락처</h2>
    <p>더 많은 정보를 원하시면 언제든지 연락해 주세요</p>
    <address>
        <p><strong>전화 :</strong> 02-1234-5678</p>
        <p><strong>이메일 :</strong> bob13public1@gmail.com</p>
        <p><strong>주소 :</strong> [04933] 서울특별시 광진구 능동로 400 보건복지행정타운 9층, 10층</p>
    </address>
</section>
{% endblock %}
