{% extends "base.html" %} {% block title %}서비스1 소개{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='serv.css') }}" />

<div class="container my-5">
    <h2 class="mb-4 text-center">취약노인지원서비스</h2>
    <div class="card shadow-sm">
        <img class="card-img-top" src="{{ url_for('static', filename='serv1.png') }}" alt="취약노인지원서비스" />
        <div class="card-body">
            <h3 class="card-title">취약노인지원서비스</h3>
            <p class="card-text">
                취약노인지원서비스에 대한 간략한 설명입니다. 이 서비스는 경제적, 신체적, 사회적으로 취약한 노인들 지원을
                목표로 하며, 응급안전안심서비스, 노인 맞춤 돌봄 서비스를 제공합니다.
            </p>
            <h4 class="mt-4">주요 내용</h4>
            <ul class="list-unstyled">
                <li>
                    <strong>응급안전안심서비스 :</strong> 독거노인 가정에 화재, 가스감지센서 등을 설치하여 화재,
                    가스사고 등의 발생 시 독거노인과 장애인이 신속하게 대처할 수 있도록 응급상황을 알리고 119에 신고하는
                    서비스를 제공합니다. <br /><br /><strong style="color: rgb(185, 215, 247)">지원 자격 : </strong>
                    독거노인 <br />1. 주민등록상 거주지와 동거자 유무와 상관없이 실제로 혼자 살고 있는 만65세 이상의
                    노인으로 다음 중 하나에 해당하는 독거노인 <br />2. “기초생활수급자” 또는 “차상위”에 속하는
                    노인으로서 치매 또는 치매고위험군 <br />3. 건강이 거동 불편한 수준으로 정기적 투약관리가 필요한
                    어르신 <br /><br /><strong style="color: rgb(185, 215, 247)">신청 절차 : </strong> <br />1. 대상자
                    발굴 : 지역센터, 읍/면/동 주민센터, 수행기관에서 선정조사 및 기관추천으로 발굴된 대상자를 방문,
                    사업을 설명하고 신청의향 확인 <br />2. 신청 : 본인 및 대리인이 신청서 제출 <br />3. 신청 접수 대상자
                    승인요청 : 지역센터에거 신청서 접수 내용을 확인하고, 디지털 돌봄시스템을 통해 대상자의 정보를 입력한
                    후, 지자체에 승인 요청 <br />4. 승인 및 서비스 제공 : 시/군/구에서 선정기준을 확인하여 승인하고,
                    지역센터, 수행기관에서 응급안전안심서비스 제공
                </li>
                <br />
                <li class="mt-3">
                    <strong>노인 맞춤 돌봄 서비스 :</strong> 노인 맞춤 돌봄 서비스는 일상생활 지원(식사, 청소, 세탁
                    등)을 포함하며, 정서적 지원과 사회적 활동 참여를 유도합니다. 또한 건강 상태 모니터링을 통해 필요한
                    의료 서비스를 연계해줍니다. <br /><br /><strong style="color: rgb(185, 215, 247)"
                        >지원 자격 :</strong
                    >
                    만 65세 이상의 어르신 <br />1. 만 65세 이상의 어르신 <br />2. 노인장기요양보험 등급자 <br />3.
                    국가보훈부 보훈재가복지서비스 이용자 <br />4. 기타 국가 및 지자체에서 시행하는 사업 중에서
                    노인맞춤돌봄서비스와 비슷한 재가서비스 이용자 <br /><br /><strong style="color: rgb(185, 215, 247)"
                        >신청 절차 :</strong
                    ><br />1. 신청 : 전화나 거주지 읍면동 주민센터에서 직접 신청 가능 <br />2. 상담 : 상담을 통한 원하는
                    서비스 신청 후 상담을 통해 원하는 서비스 신청 <br />3. 서비스 제공 : 대상자에게 맞춤 돌봄 서비스를
                    제공
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
