.carousel-caption-bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #131314; /* Updated text color */
    text-align: center;
    font-size: 0.8rem; /* Smaller font size for general text */
    background: rgba(239, 230, 230, 0.483); /* Semi-transparent background for better visibility */
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption-bottom h1 {
    font-size: 1.5rem; /* Smaller font size for heading */
}

.carousel-caption-bottom p {
    font-size: 1.1rem; /* Smaller font size for paragraph */
}

.carousel-caption-bottom hr {
    width: 50%;
    margin: 10px auto; /* Adjust horizontal rule for better appearance */
}

.carousel-item {
    width: 100%;
    height: auto; /* Remove fixed height */
}

.carousel-item img {
    width: 100%;
    height: auto; /* Ensure images scale with the carousel */
    object-fit: cover; /* Maintain aspect ratio */
}

.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    color: #2c3e50;
    font-size: 1.25rem;
}

.card-text {
    color: #34495e;
    font-size: 1rem;
    line-height: 1.6;
    flex-grow: 1;
}

.btn-primary {
    background-color: #86b6ea;
    border-color: #86b6ea;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #92bfef;
    border-color: #92bfef;
}

#contact .card {
    border: 1px solid #ccd1d9;
    border-radius: 8px;
}

#contact .card-body {
    padding: 30px;
}

#contact .card-text {
    font-size: 1rem;
    line-height: 1.6;
}

#contact ul {
    padding-left: 0;
}

#contact ul li {
    margin-bottom: 10px;
}

#contact ul li strong {
    display: block;
    color: #2c3e50;
    font-size: 1.2rem;
}

#contact ul li abbr {
    font-size: 1rem;
    text-decoration: none;
    color: #2980b9;
}
